<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- WebView가 Vercel에 배포된 웹 앱과 통신하는 데 필요 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 앱 실행 시 자동 요청하는 위치 권한(GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- KNSDK(카카오내비 SDK)가 요구하는 권한 — knsdk_ui-1.12.7.aar의 AndroidManifest.xml에서
         직접 확인함(디컴파일). 매니페스트 병합으로 이미 들어가지만 명시적으로 남겨 둔다. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:label="daegu_parking_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- KNSDK 인앱 내비 화면(KNNaviView)을 담는 순수 네이티브 액티비티.
             Flutter 엔진과 무관한 전체 화면 오버레이라 별도 액티비티로 띄운다. -->
        <activity
            android:name=".NaviActivity"
            android:exported="false"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true" />
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- 카카오내비 앱 실행(스킴 kakaonavi-sdk://) 및 브라우저 폴백(https)을 위해
             Android 11+ 패키지 가시성 규칙에 따라 명시적으로 선언해야 한다. -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="kakaonavi-sdk" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="kakaomap" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <!-- 카카오내비(카카오모빌리티) 실제 패키지명 — 원래 "김기사"에서 리브랜딩되어
             패키지명은 그대로 유지되고 있다(Google Play 확인). -->
        <package android:name="com.locnall.KimGiSa" />
    </queries>
</manifest>
